:root {
  --primary-color: #000;
  --secondary-color: #aaa;
  --inbetween-color: #333;
}

body {
  background-color: var(--primary-color);
}

.App {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 95%;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 200px;
}

button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 10px auto;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

button:disabled {
  background-color: var(--inbetween-color);
  color: var(--primary-color);
}

button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: #aaa7 1px solid;
  transition-duration: 0.3s;
}

.display {
  width: 100%;
  height: calc(95vh - 200px);
  border: var(--secondary-color) 1px solid;
}
